<div class="hamburger-menu">
    <button class="hamburger-btn" onclick="toggleMenu()">☰</button>
    <nav class="menu">

        {% if user is not defined %}
            <a href="/users/create">Регистрация</a>
            <a href="/users/auth">Авторизация</a>
        {% else %}
            <a href="/users/logout">Выход</a>
            <a href="/tickets/create">Покупка билетов</a>
            <a href="/animals">Таблица животных</a>
            <a href="/tickets">Купленные билеты</a>

            {% if user.role == 'admin' %}
                <a href="/animals/create">Добавление животного</a>
                <a href="/cares/create">Добавление ухода</a>
                <a href="/cares">Таблица ухода</a>
                <a href="/users">Таблица пользователей</a>
            {% endif %}
        {% endif %}
    </nav>
</div>
