{% extends 'base.html.twig' %}

{% block title %}New Animal{% endblock %}

{% block body %}
<div class="form-container">
    <div class="form-group">
        <h2>Create new Animal</h2>
    </div>

    {{ include('animal/_form.html.twig') }}
    <div class="form-group">
        <a href="{{ path('app_animal_index') }}">Back to list</a>
    </div>
</div>
{% endblock %}
