<link rel="stylesheet" href="/css/header.css">
<header>
    <a href="/">Главная</a>
    {% if not app.user %}
        <a href="/register">Регистрация</a>
        <a href="/login">Авторизация</a>
    {% else %}
        <a href="/profile">Профиль</a>
        <a href="/logout">Выход</a>
    {% endif %}
</header>
{% include 'menu.twig' %}