<link rel="stylesheet" href="/css/header.css">
<header>
    <a href="/">Главная</a>
    {% if not app.user %}
        <a href="/user/register">Регистрация</a>
        <a href="/user/login">Авторизация</a>
    {% else %}
        <a href="/user/profile">Профиль</a>
        <a href="/user/logout">Выход</a>
    {% endif %}
</header>
{% include 'menu.twig' %}