<link rel="stylesheet" href="/css/menu.css">
<script src="/js/hamburger.js" defer></script>
<div class="hamburger-menu">
    <button class="hamburger-btn" onclick="toggleMenu()">☰</button>
    <nav class="menu">

        {% if not app.user %}
            <a href="/">Главная</a>
            <a href="/animal">Таблица животных</a>
        {% else %}
            <a href="/">Главная</a>
            <a href="/ticket/new">Покупка билетов</a>
            <a href="/animal">Животные зоопарка</a>
            <a href="/ticket">Купленные билеты</a>

            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a href="/animal/new">Добавление животного</a>
                <a href="/care/new">Добавление ухода</a>
                <a href="/care">Таблица ухода</a>
                <a href="/user">Таблица пользователей</a>
            {% endif %}
        {% endif %}
    </nav>
</div>
